# =========================
# gNB values file for UHD setup with USRP N300 -- n78 band -- NOT TESTED YET
# =========================
# recommended RF gain values for N300 on FR1
# Avoid setting TX gain above ~30 dB on N3xx at FR1 frequencies to prevent excessive distortion.
# tx_gain: 20–30
# rx_gain: 25–40
# other possible ARFCN: 627000 (3400 MHz), 636666 (3500 MHz), 648000 (3700 MHz)
#

image:
  repository: ghcr.io/salimkarroum/srsran-gnb
  tag: beamarmor-24.04-uhd-zmq
  pullPolicy: Always


resources:
  define: false      # If false, no resources section is added
  requests:
    cpu: "50m"
    memory: "3000Mi"
  limits:
    cpu: "5000m"
    memory: "3000Mi"

start:
  gnb: true          # If false, the gNB container will just sleep and not start srsRAN gNB
  logs: true         # If false, the gnb-log container will not be deployed

gnbIp: 10.10.3.231

gnbConfig:
  gnb_id: 411
  gnb_id_bit_length: 32
  ran_node_name: srsgnb01

  amf:
    addr: 10.10.3.200
    port: 38412
    bind_addr: 10.10.3.231

  slicing:
    - sst: 1
    - sst: 1
      sd: 2

  ru_sdr:
    device_driver: uhd
    device_args: addr=192.168.235.104
    srate: 61.44
    tx_gain: 35        # NOTE: high for N300, consider ≤30
    rx_gain: 60
    freq_offset: 0
    clock: internal
    sync: internal

  cell_cfg:
    pci: 0
    dl_arfcn: 640000
    band: 78
    common_scs: 30
    channel_bandwidth_MHz: 20
    plmn: "00101"
    tac: 1

    nof_antennas_dl: 1
    nof_antennas_ul: 1

    pdcch:
      common:
        ss0_index: 0
        coreset0_index: 12
      dedicated:
        ss2_type: common
        dci_format_0_1_and_1_1: 0

    prach:
      prach_config_index: 1

    pdsch:
      mcs_table: qam64

    pusch:
      mcs_table: qam64

    ssb:
      ssb_period: 10


