# =========================
# gNB values file for UHD setup with USRP N300 -- n78 band
# =========================
# Recommended RF gain values for N300 on FR1:
#   TX: 20–30 dB (avoid >30 dB)
#   RX: 25–40 dB
# =========================

image:
  repository: ghcr.io/salimkarroum/srsran-gnb
  tag: beamarmor-24.04-uhd-zmq
  pullPolicy: Always

resources:
  define: false
  requests:
    cpu: "50m"
    memory: "3000Mi"
  limits:
    cpu: "5000m"
    memory: "3000Mi"

start:
  gnb: true
  logs: true

# IP du gNB (interface N2/N3 vers le core)
gnbIp: 10.10.3.231

gnbConfig:
  # -------------------------
  # gNB identity
  # -------------------------
  gnb_id: 411
  gnb_id_bit_length: 32
  ran_node_name: srsgnb01

  # -------------------------
  # AMF (Open5GS)
  # -------------------------
  amf:
    addr: 10.10.3.200
    port: 38412
    bind_addr: 10.10.3.231

  # -------------------------
  # Network slicing
  # -------------------------
  slicing:
    - sst: 1
    - sst: 1
      sd: 2

  # -------------------------
  # RF / USRP (N300)
  # -------------------------
  ru_sdr:
    device_driver: uhd
    device_args: addr=192.168.235.104
    srate: 61.44
    tx_gain: 30          # conseillé ≤ 30 pour N300
    rx_gain: 40
    freq_offset: 0
    clock: internal
    sync: internal

  # -------------------------
  # Cell configuration
  # -------------------------
  cell_cfg:
    pci: 0
    dl_arfcn: 640000
    band: 78
    common_scs: 30
    channel_bandwidth_MHz: 20
    plmn: "00101"
    tac: 1

    nof_antennas_dl: 1
    nof_antennas_ul: 1

    pdcch:
      common:
        ss0_index: 0
        coreset0_index: 12
      dedicated:
        ss2_type: common
        dci_format_0_1_and_1_1: 0

    prach:
      prach_config_index: 1

    pdsch:
      mcs_table: qam64

    pusch:
      mcs_table: qam64

    ssb:
      ssb_period: 10

  # -------------------------
  # Remote control (OBLIGATOIRE pour Helm)
  # -------------------------
  remote_control:
    enabled: false
    bind_addr: 0.0.0.0
    port: 8001
